<html> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
<title>La Simpla Vortaro de Esperanto</title> 
 
</head> 
 
<body> 

<h1><a href="../">La Simpla Vortaro</a></h1>

<p><em>Vi serĉis {{ search_term }}.</em></p>

<h3>Preciza Serĉo</h3>

<p>
{% if matching_words|length == 0 %}
  <em>Neniu trovita</em>
{% else %}
  {% if matching_words|length == 1 %}
    <a href="../vorto/{{ matching_words.0 }}">{{ matching_words.0 }}</a>
  {% else %}
    {% for word in matching_words %}
      {% if forloop.last %}
        <a href="../vorto/{{ word }}">{{ word }}</a>
      {% else %}
	<a href="../vorto/{{ word }}">{{ word }}</a>,
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</p>

<h3>Morfologia(j) Diveno(j)</h3>

<p>
{% if potential_parses|length == 0 %}
  <em>Neniu trovita</em>
{% else %}
  {% for word in potential_parses %}
      {% if forloop.last %}
        {{ word|join:"-" }}
      {% else %}
        {{ word|join:"-" }},
      {% endif %}
  {% endfor %}
{% endif %}
</p>

<h3>Malpreciza Serĉo</h3>

<p>
{% if similar_words|length == 0 %}
  <em>Neniu trovita</em>
{% else %}
  {% if similar_words|length == 1 %}
    <a href="../vorto/{{ similar_words.0 }}">{{ similar_words.0 }}</a>
  {% else %}
    {% for word in similar_words %}
      {% if forloop.last %}
        <a href="../vorto/{{ word }}">{{ word }}</a>
      {% else %}
	<a href="../vorto/{{ word }}">{{ word }}</a>,
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</p>
 
</body> 
 
</html>
