<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
<title>La Simpla Vortaro de Esperanto</title> 

<link rel="stylesheet" type="text/css" href="style.css"> 
</head> 
 
<body> 

<div>
<img id="background" src="book.jpg">
</div>

<div id="everything">

<div id="header">
  <h1><a href="../">La Simpla Vortaro</a></h1>
<div>

<div id="search">
  <form> 
    <input type="text" name="vorto">
    <input type="submit" value="Serĉi">
  </form>
</div>

<div id="content">

<p><em>Vi serĉis {{ search_term }}.</em></p>

<h3>Preciza Serĉo</h3>

<p>
{% if matching_words|length == 0 %}
  <em>Neniu trovita</em>
{% else %}
  {% if matching_words|length == 1 %}
    <a href="../?vorto={{ matching_words.0 }}">{{ matching_words.0 }}</a>
  {% else %}
    {% for word in matching_words %}
      {% if forloop.last %}
        <a href="../?vorto={{ word }}">{{ word }}</a>
      {% else %}
	<a href="../?vorto={{ word }}">{{ word }}</a>,
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</p>

<h3>Malpreciza Serĉo</h3>

<p>
{% if similar_words|length == 0 %}
  <em>Neniu trovita</em>
{% else %}
  {% if similar_words|length == 1 %}
    <a href="../?vorto={{ similar_words.0 }}">{{ similar_words.0 }}</a>
  {% else %}
    {% for word in similar_words %}
      {% if forloop.last %}
        <a href="../?vorto={{ word }}">{{ word }}</a>
      {% else %}
	<a href="../?vorto={{ word }}">{{ word }}</a>,
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</p>

<h3>Morfologia(j) Diveno(j)</h3>
{% load render_morphemes_tag %}

{% if potential_parses|length == 0 %}
  <p><em>Neniu trovita</em></p>
{% else %}
<ul>
  {% for morpheme_list in potential_parses %}
  <li>{% render_morphemes morpheme_list %}
  {% endfor %}
</ul>
{% endif %}

</div>

</div>

</body> 
 
</html>
