{% extends "index.html" %}

{% block title %}{{ word }} - La Simpla Vortaro{% endblock %}

{% block content %}
<h2>{{ word }}</h2>

<ol>
{% for definition, subdefinitions in definitions %}
<li>{% if definition.definition %}
      {{ definition.definition }}
    {% endif %}
    {% if subdefinitions|length != 0 %}
      <ul>
      {% for index, subdefinition in subdefinitions %}
      <li>{{ index }}. {{ subdefinition.definition }}
      {% endfor %}
      </ul>
    {% endif %}
{% endfor %}
</ol>

{% endblock %}
