<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

<title>La Simpla Vortaro</title>

<link rel="stylesheet" type="text/css" href="style.css">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<div>
<img id="background" src="book.jpg">
</div>

<div id="everything">

<div id="header">
  <h1>
    <a href="http://www.simplavortaro.org">La Simpla Vortaro</a>
  </h1>
</div>

<div id="search">
  <form> 
    <input type="text" name="vorto">
    <input type="submit" value="Serĉi">
  </form>
</div>

<div id="content">

<h2>Ŝilingo</h2>
<ol>
<li>Defino 1
<li>Defino 2
<li>
  <ul>
    <li>a. Defino 3.1
    <li>b. Defino 3.2
    <li>c. Defino 3.3
    <li>ĉ. Defino 3.4
  </ul>
</ol>

</div>

</div>


</body>

</html>
