/* inspired in part by http://www.htmlite.com/faq022.php */
body {
    color: white;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background-overlay {
    height: 100%;
    position: fixed;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    /* colour with transparency */
    background-color: rgba(0, 0, 0, 0.8);
}

#everything {
    /* size and positioning */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    z-index: 1;
    font-family: serif;
}

#header {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 4em;
}

#search {
    text-align: center;
    margin-bottom: 2em;
}

#content {
    text-align: left;
    padding: 1em;
}

html {
    height:100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

h1 {
    font-family: serif;
    font-weight: normal;
    font-size: 400%;
    padding: 0;
    margin: 10px;
}

h2 {
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
    padding: 0.1em;
}
h3 {
}

a {
    color: #2EFE2E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 a {
    color: white;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: none;
}

/* todo: bump up font size */
li {
    margin-top: 1em;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

input {
    font-size: 125%;
    font-family: serif;
}

.ekzemploj {
    margin-left: 2.5em;
    margin-top: 0;
    font-style: italic;
    text-indent: 0;
}
.subdefinoj {
    list-style-type: none;
    margin-left: 0;

    /* make all lines other than first more indented, to simulate a list */
    text-indent: -1.3em;
    padding-left: 1.3em;
}
.subdefinoj .ekzemploj {
    /* indent to same levels as examples for main definition */
    margin-left: 1.5em;
}

acronym {
    border-bottom: 1px dotted;
}