/* inspired in part by http://www.htmlite.com/faq022.php */
#background {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

#everything {
    /* size and positioning */
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    z-index: 1;
    margin-top: -1em; /* otherwise we always scroll. There is probably
    a better solution which I haven't spotted. */
  
    /* colour with transparency */
    background-color:#000; /* for IE */
    filter:alpha(opacity=75); /* CSS3 standard */
    opacity:0.75;
}

#header {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 4em;
}

#search {
    text-align: center;
    margin-bottom: 2em;
}

#content {
    text-align: left;
    padding: 1em;
}

html {
    height:100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

h1 {
    font-family: serif;
    font-weight: normal;
    font-size: 400%;
    padding: 0;
    margin: 10px;
}

h2 {
    color: #000;
    background: #fff;
    padding: 0.1em;
}
h3 {
    color: #fff;
}

a {
  color: #2EFE2E;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 a {
    color: #fff;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: none;
}

/* todo: bump up font size */
p {
  color: #fff;
}

ol {
  color: #fff;
}
li {
  margin-top: 1em;
}
ul {
    color: #fff;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

input {
  font-size: 125%;
  font-family: serif;
}

ul.ekzemploj {
    margin-left: 2em;
}
ul.ekzemploj li {
    margin-top: 0;
    font-style: italic;
}
ul.ekzemploj li p {
    /* make all lines other than first more indented */
    text-indent: -1.5em;
    padding-left: 2em;
}
ul.subdefinoj {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul.subdefinoj li p {
    /* make all lines other than first more indented, to simulate a list */
    text-indent: -1.3em;
    padding-left: 1.3em;

}
