{% extends "index.html" %}

{% block title %}Pri La Simpla Vortaro{% endblock %}

{% block content %}
<h2>Oftaj Demandoj</h2>

<h3>Kio estas La Simpla Vortaro?</h3>

<p>La Simpla Vortaro estas interfaco por la difinoj
  de <a href="http://purl.org/net/voko/revo">ReVo</a>. Ĝi inkluzivas
  kelkajn helpilojn kaj simplan strukturon.</p>

<h3>Kiel ĝi helpas min?</h3>

<p>Oni povas uzi aŭ supersignojn aŭ la x-sistemon aŭ la h-sistemon (ekzemple:
  aŭ «ĵaŭdo» aŭ «jxauxdo» aŭ «jhaudo»). Ankaŭ La Simpla Vortaro
  komprenas la -j kaj -n finaĵojn. Por i-vortoj, oni povas serĉi ilin
  en iu ajn modo.</p>

<p>Krome, ĝi enhavas malprecizan serĉilon. Se oni iomete eraras pri
  la literumadon, La Simpla Vortaro plejofte trovas la derizatan
  vorton.</p>

<p>Fine, estas vort-far-ad-il-o. Oni povas serĉi vortfaradaĵojn kaj La
  Simpla Vortaro provas diveni la derivadon. Ĉi tio iufoje inkluzivas
  sensencajn derivadojn, sed ĝi provas plej verŝajne eblecon.</p>

<h3>Kiel ĝi funkcias?</h3>

<p>La Simpla Vortaro inkluzivas du programojn &mdash;
<a href="https://github.com/Wilfred/ReVo-utilities">elĉerpilo</a> por
la XML de ReVo,
kaj <a href="https://github.com/Wilfred/simpla-vortaro">la retejo
mem</a>, kiu uzas Django-n. La kodo estas libere havebla, sed mi
skribis ĝin anglalingve (mia unua lingvo) por plirapidigi la
programadon.</p>

<p>Por lerni pli pri la literumadilo, la vortfaradilo kaj aliaj
decidoj pri la iloj kaj uzoj de La Simpla Vortaro, estas multe pli da
informo <a href="http://lalingvisto.wordpress.com/">ĉe mia
blogo</a>.</p>

<h3>Kiel mi plibonigas la definojn aŭ ekzemplojn?</h3>

<p>ReVo havas entuziasman groupon de redaktantoj («revuloj»), kaj ili
ĉiam bonvenas kontribuojn. Ili
havas <a href="http://tech.groups.yahoo.com/group/revuloj/">dissendoliston</a>
kaj <a href="http://www.reta-vortaro.de/revo/dok/redinfo.html">multe
da informo pri kiel kontribui</a>.</p>

<h3>Mi trovis cimon!</h3>

<p>(Tio ne estas demando!) Bonege,
bonvolu <a href="http://lalingvisto.wordpress.com/pri-mi/">kontaktu
min</a>.</p>

<h3>Mi trovis vorton, kiun via vortfaradilo ne komprenas!</h3>

<p>Interesege!
  Bonvolu <a href="http://lalingvisto.wordpress.com/pri-mi/">informi
    min pri ĝi</a>.</p>

<h3>Mi trovis sensencan vorton, kiun via vortfaradilo komprenas!</h3>

<p>Jes, tio okazas. Mi nur volas ke ĝi ĝuste komprenas ĉiun veran
vorton.</p>

<h3>Kiu vi estas?</h3>

<p>Saluton! Mi estas juna brita esperantisto kiu volis uzi siajn
  komputikajn povojn por helpi esperantistojn. Mi
  havas <a href="http://www.littlelinguist.org/">blogon</a>, mia
  skajpkonto estas vilfredo_ kaj mi ofte
  <a href="http://twitter.com/vilfredo_">uzas tviteron</a>.</p>

<h3>Ĉu vi havas aliajn projektojn?</h3>

<p>Por la estonteco, mi havas multe da ili. Nuntempe mi nur havas unu
  alian
  projekton, <a href="http://www.podkastaro.org">Podkastaro</a>. Tamen
  antaŭ io alia La Simpla Vortaro ne estas finita laŭ mi.</p>

<h3>Mi havas ideojn por La Simpla Vortaro!</h3>

<p>Bone, ankaŭ mi. Eble la via malsamas. Ne
  hezitu <a href="http://lalingvisto.wordpress.com/pri-mi/">kontakti
  min</a>, sed kompreneble mi ne garantias ke vi faras ĝin.</p>

<h3>Kiel La Simpla Vortaro rilatas
al <a href="http://www.vortaro.net/">Reta PIV</a>?</h3>

<p>Neniel. Mi ja deziras sukceson al Reta PIV, kaj ĝi estas tute alia
  projekto kun malsama celo. Mi esperas ke miaj ideoj kaj kodo utilas
  por ili.</p>

{% endblock %}
