{% extends "index.html" %}

{% block title %}Pri La Simpla Vortaro{% endblock %}

{% block content %}
<h2>Oftaj Demandoj</h2>

<h3>Kio estas La Simpla Vortaro?</h3>

<p>La Simpla Vortaro estas interfaco por la definoj
  de <a href="http://purl.org/net/voko/revo">ReVo</a>. Ĝi inkluzivas
  kelkajn helpilojn kaj simplan strukturon.</p>

<h3>Kiel ĝi helpas min?</h3>

<p>Oni povas uzi aŭ supersignojn, la x-sistemon aŭ la h-sistemon (ekzemple:
  aŭ «ĵaŭdo» aŭ «jxauxdo» aŭ «jhaudo»). Ankaŭ La Simpla Vortaro
  komprenas la -j kaj -n finaĵojn. Por i-vortoj, oni povas serĉi ilin
  kun iu ajn tenso.</p>

<p>Krome, ĝi enhavas malprecizan serĉilon. Se oni iomete eraras pri
  la literumadon, La Simpla Vortaro plejofte trovas la derizatan
  vorton.</p>

<p>Fine, estas vort-far-ad-il-o. Oni povas serĉi vortfaradaĵojn kaj La
  Simpla Vortaro provas diveni la derivadon. Ĉi tio iufoje inkluzivas
  sensencajn derivadojn, sed 

<h3>Kiel ĝi funkcias?</h3>

<h3>Kiel mi plibonigas la definojn aŭ ekzemplojn!</h3>

<h3>Mi trovis cimon!</h3>

<p>(Tio ne estas demando!) Bonege, bonvolu kontaku min.</p>

<h3>Kiu estas vi?</h3>

Cxu vi havas aliajn projektojn?

Mi havas ideojn!

{% endblock %}
