<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
<title>{% block title %}La Simpla Vortaro de Esperanto{% endblock %}</title> 

<link rel="stylesheet" type="text/css" href="resources/style.css">

<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11973220-3']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>

</head>
 
<body> 

<div>
<img id="background" src="resources/book.jpg">
</div>

<div id="everything">

<div id="header">
  <h1><a href="../">La Simpla Vortaro</a></h1>
</div>

<div id="search">
  <form action="/" method="get">
    <input type="text" name="serĉo">
    <input type="submit" value="Serĉi">
  </form>
</div>

<div id="content">
{% block content%}
<p><a href="informo">Informo pri La Simpla Vortaro</a></p>
{% endblock %}
</div>

</div>

</body> 
 
</html>
