{% extends "index.html" %}

{% block title %}{{ search_term }} - La Simpla Vortaro{% endblock %}

{% block searchterm %}{{ search_term }}{% endblock %}

{% block content %}
<h2>Preciza Serĉo</h2>

<p>
{% for word in matching_words %}
  {% if forloop.last %}
    <a href="{% url 'view_word' word%}">{{ word }}</a>
  {% else %}
    <a href="{% url 'view_word' word%}">{{ word }}</a>,
  {% endif %}
{% empty %}
  <em>Neniu trovita</em>
{% endfor %}
</p>

<h2>Malpreciza Serĉo</h2>

<p>
{% for word in similar_words %}
  {% if forloop.last %}
    <a href="{% url 'view_word' word%}">{{ word }}</a>
  {% else %}
    <a href="{% url 'view_word' word%}">{{ word }}</a>,
  {% endif %}
{% empty %}
  <em>Neniu trovita</em>
{% endfor %}
</p>

<h2>Vortfarada Serĉo</h2>

{% load render_morphemes_tag %}

{% comment %} print either nothing found, one line or multiple lines with a label
of the most likely {% endcomment %}
<ul>
{% for potential_parse in potential_parses %}
    {% if forloop.first and potential_parses|length > 1 %}
      <li>{% render_morphemes potential_parse %} (plej verŝajna)</li>
    {% else %}
      <li>{% render_morphemes potential_parse %}</li>
    {% endif %}
{% empty %}
<li><em>Neniu trovita</em></li>
{% endfor %}
</ul>

<h2>Alialingva Serĉo</h2>

<ul>
{% if translations|length == 0 %}
<li><em>Neniu trovita</em></li>
{% endif %}

{% for translation_group in translations %}
<li>
  {% for translation in translation_group %}
    {% if forloop.first %}
      {{ translation.language }}:
    {% endif %}
    {% if forloop.last %}
      <a href="{% url 'view_word' translation.word %}">{{ translation.word }}</a>
      ({{ translation.translation }})
    {% else %}
      <a href="{% url 'view_word' translation.word %}">{{ translation.word }}</a>
      ({{ translation.translation }}),
    {% endif %}
  {% endfor %}
</li>
{% endfor %}
</ul>

{% endblock %}
