{% extends "index.html" %}

{% block title %}{{ word }} - La Simpla Vortaro{% endblock %}

{% block content %}
<h2>{{ word }}</h2>

<ol>
{% for definition, remarks, examples, subdefinitions in definitions %}
<li>{% if definition.definition %}
      <p>{{ definition.definition }}</p>
    {% endif %}

    {% if remarks|length != 0 %}
      <ul class="rimarkoj">
      {% for remark in remarks %}
      <li><p>{{ remark.remark }}</p></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if examples|length != 0 %}
      <ul class="ekzemploj">
      {% for example in examples %}
      <li><p>{{ example.example }}</p></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if subdefinitions|length != 0 %}
      <ul class="subdefinoj">
      {% for index, subdefinition, examples in subdefinitions %}
      <li><p>{{ index }}. {{ subdefinition }}</p></li>

        {% if examples|length != 0 %}
          <ul class="ekzemploj">
          {% for example in examples %}
            <li><p>{{ example.example }}</p></li>
          {% endfor %}
          </ul>
        {% endif %}

      {% endfor %}
      </ul>
    {% endif %}
{% endfor %}
</ol>

{% endblock %}
