{% extends "index.html" %}

{% block title %}{{ word }} - La Simpla Vortaro{% endblock %}

{% block content %}
<h2>{{ word }}</h2>

<ol>
{% for definition, examples, subdefinitions in definitions %}
<li>{% if definition.definition %}
      <p>{{ definition.definition }}</p>
    {% endif %}

    {% if examples|length != 0 %}
      <ul class="ekzemploj">
      {% for example in examples %}
      <li><em>{{ example.example }}</em>
      {% endfor %}
      </ul>
    {% endif %}

    {% if subdefinitions|length != 0 %}
      <ul class="subdefinoj">
      {% for index, subdefinition, examples in subdefinitions %}
      <li>{{ index }}. {{ subdefinition.definition }}

        {% if examples|length != 0 %}
          <ul class="ekzemploj">
          {% for example in examples %}
            <li><em>{{ example.example }}</em>
          {% endfor %}
          </ul>
        {% endif %}

      {% endfor %}
      </ul>
    {% endif %}
{% endfor %}
</ol>

{% endblock %}
