{% extends "index.html" %}

{% block title %}{{ word }} - La Simpla Vortaro{% endblock %}

{% load esperanto_ordinal_tag %}

{% block content %}
<h2>Vorto: {{ word }}</h2>

<ol>
{% for definition, remarks, examples, subdefinitions in definitions %}
  <li>
  {% if definition.definition %}
    <p>{{ definition.definition }}</p>
  {% endif %}

    {% if examples|length != 0 %}
      <ul class="ekzemploj">
      {% for example in examples %}
        <li><p>
        {% if example.source %}
	  <acronym title="{{ example.source }}">{{ example.example }}</acronym>
	{% else %}
	  {{ example.example }}
	{% endif %}
        </p></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if remarks|length != 0 %}
      <ul class="rimarkoj">
      {% for remark in remarks %}
      <li><p>{{ remark.remark }}</p></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if subdefinitions|length != 0 %}
      <ul class="subdefinoj">
      {% for subdefinition, examples in subdefinitions %}
      <li><p>{% esperanto_ordinal forloop.counter0 %}. {{ subdefinition }}</p></li>

        {% if examples|length != 0 %}
          <li><ul class="ekzemploj">
          {% for example in examples %}
            <li><p>{{ example.example }}</p></li>
          {% endfor %}
          </ul></li>
        {% endif %}

      {% endfor %}
      </ul>
    {% endif %}
    </li>
{% endfor %}
</ol>

<h2>En aliaj lingvoj</h2>

<ol>{% spaceless %}
{% for definition_translations, subdefinitions_translations in translations %}
<li>
  <ul>
    {# render the translations for each primary definiton #}
    {% for translation_group in definition_translations %}

      <li>
      {% for translation in translation_group %}
        {% if forloop.first %}
          {{ translation.language }}:
        {% endif %}
        {% if forloop.last %}
          {{ translation.translation }}
        {% else %}
          {{ translation.translation}},
        {% endif %}
      {% endfor %}
      </li>
    {% endfor %}

    {# render the translations for each subdefinition of this primary definition #}

    {% if subdefinitions_translations|length != 0 %}
    <li><ul>{% for subdefinition_translation in subdefinitions_translations %}
              <li><ul><li>{% esperanto_ordinal forloop.counter0 %}.

              {% for subdef_translation_group in subdefinition_translation %}
                {% if not forloop.first %}
		  <li>&nbsp;&nbsp;&nbsp;
                {% endif %}

                {% for translation in subdef_translation_group %}
                  {% if forloop.first %}
                    {{ translation.language }}:
                  {% endif %}

                  {% if forloop.last %}
                    {{ translation.translation }}
                  {% else %}
                    {{ translation.translation}},
                  {% endif %}
                {% endfor %}
		</li>
              {% endfor %}

              </ul></li>

           {% endfor %}
    </ul></li>
    {% endif %}
  </ul>
</li>
{% endfor %}
</ol>{% endspaceless %}

{% endblock %}
